<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /geovisor/zonificaperu
  RewriteRule ^/geovisor/zonificaperu/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /geovisor/zonificaperu/index.html [L]
</IfModule>